.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWbGxMD_SPXuY3TL4mFMTTlxBDsgRfJT47IirCVJn_I7k_vGzrAA&s");
}

.form {
  display: flex;
  flex-direction: row;
}
